<div class="homeButtons container-fluid">
    <div class=" col-10"></div>
    <a href="/dashboard" class="btn btn-outline-primary col-1">dashboard</a>
    <button id="logout" class="btn btn-outline-primary col-1">logout</button>
</div>