<div class="homeButtons container-fluid">
    <h1 class="col-1">Dashboard</h1>
    <div class=" col-7"></div>
    <button id="category-button" class="btn btn-outline-primary col-1">category</button>
    <button id="post-button" class="btn btn-outline-primary col-1">post</button>
    <a href="/dashboard" class="btn btn-outline-primary col-1">dashboard</a>
    <button id="logout" class="btn btn-outline-primary col-1">logout</button>
</div>

{{>modals/post-modal}}
{{>modals/category-modal}}