
<div class="homeButtons container-fluid">
        <div class=" col-10"></div>
        <button 
        class="btn btn-outline-primary col-1"
        id="login-button"
        type="button",    
        >Login</button>

        <button 
        class="btn btn-outline-primary col-1"
        id="signup-button"
        type="button", 
        >Sign up</button>
</div>

{{> modals/login-modal}}
{{> modals/signup-modal}}