{{#each post}}
    <div class="post-item col">
        <img class="post-img" src={{image_src}} width="250px"/>
        <span class="post-title">{{title}}</span>
        <span class="post-user"><a href="#">{{user.username}}</a></span>
    </div>
{{/each}}