
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid black;
}

.post-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: .5rem;
}

.post-img{
    border-radius: 1.2rem;
}

.post-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.post-user a{
    color: black;
}
.post-user a:hover{
    color: black;
}