<div class="modal fade" id="post-modal"tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post a Picture!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="post-form" id="post-form">

          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="post-title">
          </div>

         <div class="mb-3">
            <label class="form-label">Choose a category</label>
                <select name="category" id="categorySelect">
                    {{#each category}}
                    <option value={{category_name}}>{{category_name}}</option>
                    {{/each}}
                </select>
                    
          </div>

          <div>
            <form enctype="multipart/form-data" action="uploader.php" method="POST">
            <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
            Choose a file to upload: <input name="uploadedfile" type="file" /><br />
            </form>

          </div>
      </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="post-form" class="btn btn-outline-primary" id="continue-btn">Continue</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/post.js"></script>