<div class="modal fade" id="signup-modal"tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="signup-form" id="signup-form">

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" id="signup-username">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" id="signup-email" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" id="signup-password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="signup-form" class="btn btn-outline-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/signup.js"></script>
